.feedback {
    margin-bottom: 20px;
    opacity: 0;
    animation: show-feedback 1s 1s forwards;
}

.question .selected {
    animation: flash 1s;
}

.question .selected.correct {
    background-color: #0ec563;
}

.question .selected.incorrect {
    background-color: #ff0000;
}

@keyframes flash {
    0% {
        background-color: rgba(255, 174, 0, 0.9);
    }

    50% {
        background-color: rgba(255, 115, 0, 0.9);
    }

    100% {
        background-color: rgba(255, 174, 0, 0.9);
    }
}

@keyframes show-feedback {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* App Container */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Game Container */
.game-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game Over Screen */
.game-over {
    background-color: #fafdff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px #b67cf9;
    text-align: center;
}

.game-over h2 {
    font-family: var(--font-family-header);
    font-size: 2.5rem;
    background: linear-gradient(to top, #953ef8, #43b7ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.game-over p {
    font-family: Regular;
    font-size: 2rem;
    margin-bottom: 30px;
    background: linear-gradient(to top, #953ef8, #43b7ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
