/* Question Container */
.question {
  background: #fafdff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px #b67cf9;
  margin: 0 auto;
  width: 1150px;
  /* fixed width */
  height: 350px;
  /* fixed height */
  max-width: 1150px;
  /* fixed max-width */
  max-height: 350px;
  /* fixed max-height */
  color: var(--text-color);
  text-align: center;
}

.question h2 {
  font-family: var(--font-family-header);
  font-size: 2.5rem;
  margin-bottom: 30px;
  background: linear-gradient(to top, #953ef8, #43b7ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h3 {
  font-family: var(--font-family-header);
  font-size: 1.5rem;
  color: var(--highlight-color);
  text-shadow: 3px 2px 3px #953ef8;
  margin: 0;
  text-align: center;
}

.question h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #953ef8;
  display: inline-block;
  /* Keeps the heading centered */
}

/* Choices Layout */
.choices-container {
  gap: 20px;
  justify-items: center;
}

/* Choice Buttons */
.choice-btn {
  background-color: #a65cf4;
  color: #fafdff;
  padding: 20px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
  box-shadow: 0 4px 8px #0480ce;
  width: 100%;
  max-width: 350px;
}

.choice-btn:hover {
  background-color: var(--button-hover-bg-color);
  transform: scale(1.05);
}

.choice-btn.correct {
  color: #fff;
}

.choice-btn.incorrect {
  color: #fff;
}
